@font-face {
  font-family: Line_L;
  src: url(/portfolio/assets/fonts/LINESeedKR-Th.woff) format('woff');
}
@font-face {
  font-family: Line_R;
  src: url(/portfolio/assets/fonts/LINESeedKR-Rg.woff) format('woff');
}
@font-face {
  font-family: Line_B;
  src: url(/portfolio/assets/fonts/LINESeedKR-Bd.woff) format('woff');
}